legacy/05-orchestration/workflow_state_machine_simple.json
{
    "Comment": "AIOps DevOps Agent - Multi-Stage Recovery Workflow",
    "StartAt": "DetectIncident",
    "States": {
        "DetectIncident": {
            "Type": "Pass",
            "Comment": "Initial incident detection and correlation ID generation",
            "Result": {
                "stage": "DETECTING"
            },
            "Next": "AnalyzeWithBedrock"
        },
        "AnalyzeWithBedrock": {
            "Type": "Task",
            "Comment": "Invoke orchestrator Lambda for AI analysis",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${orchestrator_lambda_arn}",
                "Payload.$": "$"
            },
            "ResultPath": "$.analysis",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "HandleAnalysisFailure"
                }
            ],
            "Next": "CheckSeverity"
        },
        "CheckSeverity": {
            "Type": "Choice",
            "Comment": "Route based on incident severity",
            "Choices": [
                {
                    "Variable": "$.analysis.Payload.classification",
                    "StringEquals": "NORMAL",
                    "Next": "LogNormalEvent"
                },
                {
                    "Variable": "$.analysis.Payload.classification",
                    "StringEquals": "ANOMALY",
                    "Next": "NotifyAnomaly"
                },
                {
                    "And": [
                        {
                            "Variable": "$.analysis.Payload.classification",
                            "StringMatches": "FAILURE"
                        },
                        {
                            "Variable": "$.analysis.Payload.confidence",
                            "NumericLessThan": 0.8
                        }
                    ],
                    "Next": "RequestManualReview"
                }
            ],
            "Default": "ExecuteRecovery"
        },
        "LogNormalEvent": {
            "Type": "Pass",
            "Comment": "Log normal event and complete",
            "Result": {
                "status": "normal",
                "action": "logged"
            },
            "End": true
        },
        "NotifyAnomaly": {
            "Type": "Task",
            "Comment": "Send anomaly notification",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "AIOps: Anomaly Detected",
                "Message.$": "$.analysis.Payload.reasoning"
            },
            "End": true
        },
        "RequestManualReview": {
            "Type": "Task",
            "Comment": "Request manual review for low confidence incidents",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "AIOps: Manual Review Required",
                "Message.$": "States.Format('Low confidence ({}%) - Please review incident', $.analysis.Payload.confidence)"
            },
            "Next": "WaitForManualDecision"
        },
        "WaitForManualDecision": {
            "Type": "Wait",
            "Comment": "Wait for manual intervention",
            "Seconds": 300,
            "Next": "LogManualReview"
        },
        "LogManualReview": {
            "Type": "Pass",
            "Result": {
                "status": "manual_review_pending"
            },
            "End": true
        },
        "ExecuteRecovery": {
            "Type": "Parallel",
            "Comment": "Execute recovery actions in parallel",
            "Branches": [
                {
                    "StartAt": "TriggerCodeBuild",
                    "States": {
                        "TriggerCodeBuild": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::codebuild:startBuild.sync",
                            "Parameters": {
                                "ProjectName": "aiops-devops-agent-apply"
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.TaskFailed"
                                    ],
                                    "IntervalSeconds": 10,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2.0
                                }
                            ],
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "UpdateIncidentState",
                    "States": {
                        "UpdateIncidentState": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "Parameters": {
                                "TableName": "${incident_table}",
                                "Key": {
                                    "incident_id": {
                                        "S.$": "$.correlation_id"
                                    }
                                },
                                "UpdateExpression": "SET workflow_state = :state, updated_at = :updated",
                                "ExpressionAttributeValues": {
                                    ":state": {
                                        "S": "EXECUTING"
                                    },
                                    ":updated": {
                                        "S.$": "$$.State.EnteredTime"
                                    }
                                }
                            },
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.recovery",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.recovery_error",
                    "Next": "HandleRecoveryFailure"
                }
            ],
            "Next": "NotifySuccess"
        },
        "NotifySuccess": {
            "Type": "Task",
            "Comment": "Send success notification",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "✅ AIOps: Recovery Successful",
                "Message": "Automated recovery completed successfully"
            },
            "Next": "PublishSuccessMetrics"
        },
        "PublishSuccessMetrics": {
            "Type": "Task",
            "Comment": "Publish success metrics to CloudWatch",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
            "Parameters": {
                "Namespace": "AIOps/Workflow",
                "MetricData": [
                    {
                        "MetricName": "RecoverySuccess",
                        "Value": 1,
                        "Unit": "Count"
                    }
                ]
            },
            "End": true
        },
        "HandleAnalysisFailure": {
            "Type": "Task",
            "Comment": "Handle analysis failure",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "❌ AIOps: Analysis Failed",
                "Message.$": "$.error.Cause"
            },
            "Next": "PublishFailureMetrics"
        },
        "HandleRecoveryFailure": {
            "Type": "Task",
            "Comment": "Handle recovery failure",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "❌ AIOps: Recovery Failed",
                "Message.$": "$.recovery_error.Cause"
            },
            "Next": "PublishFailureMetrics"
        },
        "PublishFailureMetrics": {
            "Type": "Task",
            "Comment": "Publish failure metrics to CloudWatch",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
            "Parameters": {
                "Namespace": "AIOps/Workflow",
                "MetricData": [
                    {
                        "MetricName": "RecoveryFailure",
                        "Value": 1,
                        "Unit": "Count"
                    }
                ]
            },
            "End": true
        }
    }
}