legacy/05-orchestration/workflow_state_machine.json
{
    "Comment": "AIOps DevOps Agent - Multi-Stage Recovery Workflow",
    "StartAt": "DetectIncident",
    "States": {
        "DetectIncident": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${orchestrator_lambda_arn}",
                "Payload": {
                    "stage": "detect",
                    "event.$": "$"
                }
            },
            "ResultPath": "$.detection",
            "Next": "AnalyzeWithBedrock",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "NotifyFailure"
                }
            ],
            "TimeoutSeconds": 30,
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                }
            ]
        },
        "AnalyzeWithBedrock": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${orchestrator_lambda_arn}",
                "Payload": {
                    "stage": "analyze",
                    "incident.$": "$.detection.Payload"
                }
            },
            "ResultPath": "$.analysis",
            "Next": "CheckSeverity",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "NotifyFailure"
                }
            ],
            "TimeoutSeconds": 60,
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                }
            ]
        },
        "CheckSeverity": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.analysis.Payload.classification",
                    "StringEquals": "NORMAL",
                    "Next": "LogNormalEvent"
                },
                {
                    "Variable": "$.analysis.Payload.classification",
                    "StringEquals": "ANOMALY",
                    "Next": "NotifyAnomaly"
                },
                {
                    "And": [
                        {
                            "Variable": "$.analysis.Payload.classification",
                            "StringMatches": "FAILURE"
                        },
                        {
                            "Variable": "$.analysis.Payload.confidence",
                            "NumericGreaterThan": 0.8
                        }
                    ],
                    "Next": "GenerateRecoveryPlan"
                },
                {
                    "And": [
                        {
                            "Variable": "$.analysis.Payload.classification",
                            "StringMatches": "TAMPERING"
                        },
                        {
                            "Variable": "$.analysis.Payload.confidence",
                            "NumericGreaterThan": 0.8
                        }
                    ],
                    "Next": "GenerateRecoveryPlan"
                }
            ],
            "Default": "RequestManualReview"
        },
        "LogNormalEvent": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
                "TableName": "${incidents_table_name}",
                "Item": {
                    "incident_id": {
                        "S.$": "$.detection.Payload.correlation_id"
                    },
                    "workflow_state": {
                        "S": "COMPLETED"
                    },
                    "classification": {
                        "S": "NORMAL"
                    },
                    "timestamp": {
                        "S.$": "$$.State.EnteredTime"
                    }
                }
            },
            "End": true
        },
        "NotifyAnomaly": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "⚠️ AIOps: Anomaly Detected",
                "Message.$": "States.Format('Anomaly detected: {}\\nSeverity: {}\\nConfidence: {}', $.analysis.Payload.reasoning, $.analysis.Payload.severity, $.analysis.Payload.confidence)"
            },
            "Next": "LogNormalEvent"
        },
        "RequestManualReview": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "🔍 AIOps: Manual Review Required",
                "Message.$": "States.Format('Low confidence incident requires manual review\\nIncident ID: {}\\nClassification: {}\\nConfidence: {}', $.detection.Payload.correlation_id, $.analysis.Payload.classification, $.analysis.Payload.confidence)"
            },
            "Next": "LogNormalEvent"
        },
        "GenerateRecoveryPlan": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${orchestrator_lambda_arn}",
                "Payload": {
                    "stage": "plan",
                    "analysis.$": "$.analysis.Payload"
                }
            },
            "ResultPath": "$.recovery_plan",
            "Next": "ExecuteRecovery",
            "TimeoutSeconds": 60
        },
        "ExecuteRecovery": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "RestoreInfrastructure",
                    "States": {
                        "RestoreInfrastructure": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::codebuild:startBuild.sync",
                            "Parameters": {
                                "ProjectName": "${codebuild_project_name}",
                                "EnvironmentVariablesOverride": [
                                    {
                                        "Name": "CORRELATION_ID",
                                        "Value.$": "$.detection.Payload.correlation_id"
                                    },
                                    {
                                        "Name": "RESOURCE_TYPE",
                                        "Value.$": "$.detection.Payload.resource_type"
                                    }
                                ]
                            },
                            "ResultPath": "$.terraform_result",
                            "End": true,
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.TaskFailed"
                                    ],
                                    "IntervalSeconds": 30,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2.0
                                }
                            ]
                        }
                    }
                },
                {
                    "StartAt": "UpdateIncidentRecord",
                    "States": {
                        "UpdateIncidentRecord": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "Parameters": {
                                "TableName": "${incidents_table_name}",
                                "Key": {
                                    "incident_id": {
                                        "S.$": "$.detection.Payload.correlation_id"
                                    }
                                },
                                "UpdateExpression": "SET workflow_state = :state, updated_at = :updated",
                                "ExpressionAttributeValues": {
                                    ":state": {
                                        "S": "EXECUTING"
                                    },
                                    ":updated": {
                                        "S.$": "$$.State.EnteredTime"
                                    }
                                }
                            },
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.execution_results",
            "Next": "VerifyRecovery",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.execution_error",
                    "Next": "HandleRecoveryFailure"
                }
            ]
        },
        "VerifyRecovery": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${verification_lambda_arn}",
                "Payload": {
                    "resource_type.$": "$.detection.Payload.resource_type",
                    "resource_id.$": "$.detection.Payload.resource_id",
                    "correlation_id.$": "$.detection.Payload.correlation_id"
                }
            },
            "ResultPath": "$.verification",
            "Next": "CheckVerificationResult",
            "TimeoutSeconds": 120,
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 3,
                    "BackoffRate": 1.5
                }
            ]
        },
        "CheckVerificationResult": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.verification.Payload.status",
                    "StringEquals": "VERIFIED",
                    "Next": "NotifySuccess"
                },
                {
                    "Variable": "$.verification.Payload.status",
                    "StringEquals": "PARTIAL",
                    "Next": "NotifyPartialSuccess"
                }
            ],
            "Default": "HandleRecoveryFailure"
        },
        "NotifySuccess": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "✅ AIOps: Recovery Successful",
                "Message.$": "States.Format('Automated recovery completed successfully\\nIncident ID: {}\\nResource: {} / {}\\nDuration: {} seconds', $.detection.Payload.correlation_id, $.detection.Payload.resource_type, $.detection.Payload.resource_id, $.verification.Payload.duration)"
            },
            "Next": "StoreSuccessMetrics"
        },
        "NotifyPartialSuccess": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "⚠️ AIOps: Partial Recovery",
                "Message.$": "States.Format('Automated recovery partially successful\\nIncident ID: {}\\nResource: {} / {}\\nManual intervention may be required', $.detection.Payload.correlation_id, $.detection.Payload.resource_type, $.detection.Payload.resource_id)"
            },
            "Next": "StoreSuccessMetrics"
        },
        "HandleRecoveryFailure": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "❌ AIOps: Recovery Failed",
                "Message.$": "States.Format('Automated recovery failed\\nIncident ID: {}\\nResource: {} / {}\\nError: {}\\nManual intervention required', $.detection.Payload.correlation_id, $.detection.Payload.resource_type, $.detection.Payload.resource_id, $.execution_error.Cause)"
            },
            "Next": "StoreFailureMetrics"
        },
        "StoreSuccessMetrics": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName": "${incidents_table_name}",
                "Key": {
                    "incident_id": {
                        "S.$": "$.detection.Payload.correlation_id"
                    }
                },
                "UpdateExpression": "SET workflow_state = :state, success = :success, recovery_duration_seconds = :duration, updated_at = :updated",
                "ExpressionAttributeValues": {
                    ":state": {
                        "S": "COMPLETED"
                    },
                    ":success": {
                        "BOOL": true
                    },
                    ":duration": {
                        "N.$": "States.Format('{}', $.verification.Payload.duration)"
                    },
                    ":updated": {
                        "S.$": "$$.State.EnteredTime"
                    }
                }
            },
            "Next": "PublishSuccessMetrics"
        },
        "StoreFailureMetrics": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName": "${incidents_table_name}",
                "Key": {
                    "incident_id": {
                        "S.$": "$.detection.Payload.correlation_id"
                    }
                },
                "UpdateExpression": "SET workflow_state = :state, success = :success, error_details = :error, updated_at = :updated",
                "ExpressionAttributeValues": {
                    ":state": {
                        "S": "FAILED"
                    },
                    ":success": {
                        "BOOL": false
                    },
                    ":error": {
                        "S.$": "$.execution_error.Cause"
                    },
                    ":updated": {
                        "S.$": "$$.State.EnteredTime"
                    }
                }
            },
            "Next": "PublishFailureMetrics"
        },
        "PublishSuccessMetrics": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
            "Parameters": {
                "Namespace": "AIOps/DevOpsAgent",
                "MetricData": [
                    {
                        "MetricName": "RecoverySuccess",
                        "Value": 1,
                        "Unit": "Count",
                        "Dimensions": [
                            {
                                "Name": "ResourceType",
                                "Value.$": "$.detection.Payload.resource_type"
                            }
                        ]
                    }
                ]
            },
            "End": true
        },
        "PublishFailureMetrics": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
            "Parameters": {
                "Namespace": "AIOps/DevOpsAgent",
                "MetricData": [
                    {
                        "MetricName": "RecoveryFailure",
                        "Value": 1,
                        "Unit": "Count",
                        "Dimensions": [
                            {
                                "Name": "ResourceType",
                                "Value.$": "$.detection.Payload.resource_type"
                            }
                        ]
                    }
                ]
            },
            "End": true
        },
        "NotifyFailure": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${sns_topic_arn}",
                "Subject": "🚨 AIOps: Workflow Error",
                "Message.$": "States.Format('Workflow execution failed\\nError: {}', $.error.Cause)"
            },
            "End": true
        }
    }
}